$fuente: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

.container {
    font-family: $fuente;
    font-size: 18px;
    background-color: violet;
    max-width: 100%;
    display: grid;
    row-gap:unset;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
    border-top: 2px solid #ffffff;
    
    .col:hover, li.active {
        background-color: #343f4b;
        transition:.4s;
    }
}